/* both */
body {
    background-color: aliceblue;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

nav {
    background-color: #B2DCD0;
    overflow: hidden; 
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
}

nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /* display: block; */
}

.nav_bar a:hover {
    background-color: rgb(77, 128, 130);
    color: black;
}
  
.active {
    color: black;
    background-color: cadetblue;
}

nav .icon {
    display: none;
} 

 header{
    background-image: url('..//static/business\ card.webp');
    background-position: center;
}
h1{
    font-size: 50px;
    text-align: center; 
}

h3{
    font-size: 20px;
    text-align: center; 
}
h2{
    text-align: center;
}
h4{
    padding: 10px;
}


/* homepage */
img {
    height: 100%;
    width: 100%; 
}

#main_image img{
    border-radius: 20%;
}

#main_p p {
    padding: 0px 0px 0px 10px;
}



/* contact */
form {
    margin: 10px;
}


/* grid */

#content section{
    height: 100%;
    width: 100%;
}


#main_image {
    grid-area: main_image;
}

#main_p {
    grid-area: main_p;
}

#tour1_p  {
    grid-area: tour1_p;
    /* background-color: aliceblue; */
    margin: 5px;
}

#tour2_p  {
    grid-area: tour2_p;
    /* background-color: aliceblue; */
    margin: 5px 5px 5px 20px;
    padding: 0px 0px 5px 20px;    
}

#tour3_p  {
    grid-area: tour3_p;
    /* background-color: aliceblue; */
    text-align: center;
    margin: 2px;
}


#image_1 {
    grid-area: image_1;
    height: 150px;
}

#image_2 {
    grid-area: image_2;
    height: 150px;
}
#image_3 {
    grid-area: image_3;
    height: 150px;
}
#image_4 {
    grid-area: image_4;
    height: 150px;
}

#content {
    /* padding: 0px 10px 0px 10px; */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40% 40% 20%;
    grid-template-areas:
        'main_image  main_p   main_p   main_p'
        'image_2    image_3   image_1  image_4'
        'tour1_p    tour2_p   tour2_p  tour3_p';
}

#registration{
float:left;
width: 50%;
text-align: -webkit-center;
display: table;
}
#registration label{
display: table-cell;
}
#registration input{
display: table-cell;
}
#search{
float:right;
width: 50%;
}

.container{
    padding: 4px;
    display: inline-block;
    border: black 2px;
    border-style: double;
}
.users{
    display: flex;
}
#user_container{
    width:250px; /* or whatever width you want. */
   max-width:250px; /* or whatever width you want. */
   display: inline-block;
    padding: 10px;
}
#user_container_2{
    width:250px; /* or whatever width you want. */
   max-width:250px; /* or whatever width you want. */
   display: inline-block;
    padding: 10px;
}
.log_out {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #B2DCD0;

}
.log_out:hover{
background-color: rgb(77, 128, 130);
color: black;
}

@media only screen and (max-width : 600px){

    body { 
        background-color: rgb(184, 236, 237);
    }

    #content {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 28% 28% 28% 10% 6%;
        grid-template-areas:
            'main_image      main_p'
            'image_2         image_3'
            'image_1         image_4'
            'tour1_p         tour2_p'
            'tour3_p         tour3_p';
}
}