<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//static/style.css">
    <script defer src="..//static/actions.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
{% endblock %}
<body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    {% include('header.html') %}
    {% block tohen %}
{% if session['logedin'] %}
        <h3>Welcome, {{ session['username'] }}</h3>
{%endif%}
    {% endblock %}


</body>
</html>